# Dependencies
node_modules/
package-lock.json
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# scripts
scripts
*.sh

# Logs
backend/logs/
*.log